@media only screen and (max-width : 736px){
  .container_pc{display:none}
  .container_sp{
    display: grid;
    grid-template-rows: 75px 10px 100px 500px 175px;
    grid-template-columns: 15% 3% 8% 3% 70%;
  }
  .field{
    background-image: url(../imgs/ogakuzu.jpg)
  }
  .head-field{
    grid-row: 1 / 2;
    grid-column: 1 / 6;
  }.title_sp{
    grid-row:1/3;
    margin-right: 0;
    border-radius: 25px 0px 0px 25px;
    color: #494949;
    background-color: rgba( 200, 200, 200, 0.55);
    border-left: solid 8px #ffaf58;
    border-bottom: solid 8px #ffaf58; 
    margin-top: 3%;
    margin-left: 18%;
  }
  .menu-field{
    grid-row: 3 / 6;
    grid-column: 1 / 4;
    border-radius: 0px 25px 0px 0px;
    background-color: rgba( 230, 230, 230, 0.75);
  }.icon{
    margin-left: 20px; 
    width: 30px;
    height: 30px;
  }
  .main-field{
    grid-row: 3 / 6;
    grid-column: 5 / 6;
  }#main-iframe{
    width: 344px;
    height: 500px;
  }
  .list-iframe,.main-iframe-top,.main-iframe-center{
    border: none;
  }
  .calender{
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 6px;
  }#calender-top{
    border: 0;
    border-radius: 6px 6px 0px 0px;
  }#calender-bottom-left{
    border-bottom-right-radius: 6px;
  }#calender-bottom-right{
    border-bottom-left-radius: 6px;
  }
}
