.container_pc{
  display: grid;
  grid-template-rows: 80px 100px 80px 1200px 50px;
  grid-template-columns: 30% 70%;
}.container_sp{display:none}
#top-title{
  grid-row: 2 / 3;
  grid-column: 2 / 4;
}
#menu{
  grid-row: 4 / 5;
  grid-column: 1 / 2;
  background: white;
}
@media only screen and (max-width : 736px){
  .container_pc{display:none}
  .container_sp{
    display: grid;
    grid-template-rows: 75px 100px 250px 175px;
    grid-template-columns: 30% 3% 70%;
  }
  .top-field{
    grid-row: 1 / 5;
    grid-column: 1 / 4;
    background-image: url(../hiyoko.jpg);
  }.title_sp{
    border-radius: 25px 0px 0px 25px;
    color: #494949;
    background-color: rgba( 200, 200, 200, 0.55);
    border-left: solid 8px #ffaf58;
    border-bottom: solid 8px #ffaf58; 
    margin-top: 3%;
    margin-left: 10%;
  }
  .menu-field{
    grid-row: 2 / 5;
    grid-column: 1 / 2; 
    border-radius: 0px 25px 0px 0px;
    background-color: rgba( 230, 230, 230, 0.75);
  }#schedule{
    color: orange;
  }
  .main-field{
    grid-row: 2 / 5;
    grid-column: 3 / 4;
  }
  .list-iframe,.main-iframe-top,.main-iframe-center{
    border: none;
  }
  .calender{
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 6px;
  }#calender-top{
    border: 0;
    border-radius: 6px 6px 0px 0px;
  }#calender-bottom-left{
    border-bottom-right-radius: 6px;
  }#calender-bottom-right{
    border-bottom-left-radius: 6px;
  }
}
